body {
	background-color: #ebf0fa;
	text-align: center;
	color: #333;
}

p {
	font-family: AmericanTypewriter;
}

h1, h2, h3, h4, h5, h6 {
	font-family: AmericanTypewriter;
}

.row {
	max-width: 900px;
	margin: 0 auto;
}

.carousel {
	max-width: 900px;
	margin: 0 auto;
}

.panel {
	background-color: #edf4fc;
	border: 1px solid #fffffc;
	height: 600px;
	width: 600px;
	margin-bottom: 20px;
}

.display {
	padding: 10px;
	height: 600px;
	width: 800px;
}

#prev-btn {
	height: 50px;
	width: 50px;
	background-color: #f00;
	position: relative;
	float: left;
	top: 240px;
}

#next-btn {
	height: 50px;
	width: 50px;
	background-color: #f00;
	position: relative;
	float: right;
	top: 240px;
}

img#picture {
	margin: 0 auto;
	vertical-align: center;
}

.calendar {

}

li#months {
	cursor: pointer;
}

table.calendar {
	border: 1px solid #fffffe;
	max-width: 900px;
	margin: 20px auto 75px;
}

td {
	padding: 10px;
	height: 75px;
	width: 75px;
	font-family: Verdana, sans-serif;
	text-align: left;
	font-weight: bold;
	color: #666;
	border: 1px solid #ffffcc;
}

td img {
	cursor: pointer;
}

img#display {
	max-width: 500px;
	max-height: 500px;

}
